<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LP7HKWG7XQ"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-LP7HKWG7XQ');
    </script>
    <script src="{{ url_for('static', filename='js/dynamic.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
    <body>
        <nav class="nav-title">
            <a href='/'>StatsWiki</a>
            {{lang}}:{{ title | replace("_", " ") }}
        </nav>
        <nav style="font-size: 24px;">
            <b><a href='/{{lang}}'>{{lang}}&nbsp;{{flag|safe}}</a></b></nav>
        </nav>
        
        <main>
            <table>
                <tr>
                    <td style="vertical-align: top; text-align: left;">
                        <span style="color: rgb(0, 0, 0); font-size: 0.9em; font-style: italic;">
                            <a href='https://{{lang}}.wikipedia.org/wiki/{{title}}'>{{ title | replace("_", " ") }}</a>
                            &nbsp;
                            <img src='/static/wikidata.svg' style='width:10px;'/>
                            <a href="https://www.wikidata.org/wiki/{{qid}}" style="font-size: 0.5em;">{{qid}}</a>                        
                            &nbsp;
                            {% if lang != 'en' and translation != ''  %}
                            ({{translation}})
                            {% endif %}
                            <br /><br />
                            {{sentence}}&nbsp;
                        </span>   
                    </td>     
                    
                    <td style="vertical-align: top; text-align: center; width:150px;">
                        <a href="{{'wikidata_image_url'}}"><img src="{{wikidata_image}}" width='100px'>
                        </td>
                    </tr>
                    </table>
            </main>
            <section>
                <canvas id="myChart" width="400" height="200"></canvas>
                <script>
                    document.addEventListener('DOMContentLoaded', (event) => {
                        var ctx = document.getElementById('myChart').getContext('2d');
                        
                        var views = {{ statistics|tojson }};
                        
                        var labels = [];
                        var startDate = new Date(2015, 6); 

                        for (let i = 0; i < views.length; i++) {
                            var year = startDate.getFullYear();
                            var month = startDate.getMonth() + 1;
                            labels.push(`${year}-${month.toString().padStart(2, '0')}`);
                            startDate.setMonth(startDate.getMonth() + 1);
                        }

                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Redirects not taken into account yet, coming soon',
                                    data: views,
                                    borderColor: 'rgb(0, 1, 2)',
                                    tension: 0.5
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    });
                </script>
            </section>
        </body>
        </html>
