<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LP7HKWG7XQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-LP7HKWG7XQ');
    </script>
   <script src="{{ url_for('static', filename='js/number.js') }}"></script>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
<body>
    <nav class="nav-title">
        <a href='/'>StatsWiki</a>
        {{title}} - {{current_date}}
    </nav>
    <nav style="font-size: 24px;"><a ref='https://{{lang}}.wikipedia.org/'>{{lang}}.wikipedia.org {{imgs|safe}}</a></nav>
    <nav>
        <a href="{{day_before_link}}" class="nav-link">{{day_before}}</a>    
        <div>{{day}},&nbsp;<a href="{{current_month_link}}" class="nav-link">{{current_month}}</a>,&nbsp;<a href="/{{lang}}/{{year}}" class="nav-link">{{year}}</a></div>
        <a href="{{day_after_link}}" class="nav-link">{{day_after}}</a>
    </nav>
    
    <main>
        <section>
            <table>
                {% for article in articles %}
                <tr>
                    <td style="text-align: left;">
                        <a href='http://{{lang}}.wikipedia.org/wiki/{{article[0]}}'>{{article[1]}}</a>
                        <br /><span style="font-size: 0.6em; font-style: italic;">{{article[3]}}</span>
                    </td>
                    <td class="number" style="text-align: right;">{{article[2]}}</td>
                </tr>    
                {% endfor %}
            </table>
        </section>
        
    </main>
    
</body>
</html>
