<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LP7HKWG7XQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-LP7HKWG7XQ');
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <div class="nav-title"><a href='/'>StatsWiki</a></div>
        <div style="font-size:18px"><i>Viewing statistics for 17 language versions of Wikipedia, since July 1, 2015</u></u></i></div>
        <small>
            {% for lang in langs %}
            &nbsp;
            <a href='/{{lang}}'>{{lang}}</a>
            {{flags[lang]|safe}} 
            {% endfor %}
        </small>
    </header>
    
    <main>
            <table style="width: 70%; margin-left: auto; margin-right: auto;">
                {% for lang in langs %}
                <tr>
                    <td><a href="/{{lang}}" class="nav-link">{{lang}}</a></td>
                    <td>{{titles[lang]['title']}}</td>
                    <td>
                        {% for year in years %}
                        <a href="/{{lang}}/{{year}}" class="nav-link">{{year}}</a>
                        &nbsp;&nbsp;
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
    </main>
    
    <footer>
        <a href='https://www.twitter.com/statswiki'>@StatsWiki (X)</a>
        &nbsp;
        <a href='https://www.instagram.com/statswiki'>@StatsWiki (Insta)</a>        
    </footer>
    
</body>
</html>
