<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LP7HKWG7XQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-LP7HKWG7XQ');
    </script>
   <script src="{{ url_for('static', filename='js/number.js') }}"></script>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="nav-title"><a href='/'>StatsWiki</a></div>
        <div style="font-size:12px"><i>View Statistics for <b>Wikipedia</b> <u>by  language</u></u></i></div>
        <small>
            {% for language in langs %}
            &nbsp;
            <a href='/{{language}}'>{{language}}</a>
            {{imgs[language]|safe}} 
            {% endfor %}
        </small>
    </header>
    <main>
        <section>
            <table>
                {% for article in articles %}
                <tr>
                    <td style="text-align: left;">
                        <a href='http://{{lang}}.wikipedia.org/wiki/{{article[0]}}'>{{article[1]}}</a>
                        <br /><span style="font-size: 0.6em; font-style: bold;">{{article[3]}}</span>
                    </td>
                    <td class="number" style="text-align: right;">{{article[2]}}</td>
                </tr>    
                {% endfor %}
            </table>
        </section>
        <section>
            <table>
                <tr><td style="text-align: left;">{{title}} <a href='https://{{lang}}.wikipedia.org'>{{lang}}.wikipedia.org</a>
                    &nbsp;{{img|safe}}
                </td></tr>
                <tr>
                    <td style="text-align: left;">
                        {% for year in years %}
                        <a href='/{{lang}}/{{year}}'>{{year}}</a>
                        &nbsp;
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </section>

    </main>

    <footer>
        <a href='https://www.benoit-prieur.fr/'>[dev]</a>
        &nbsp;
        <a href='/filtering_by_wiki.json'>[by wiki filtering]</a>
        &nbsp;
        <a href='/global_filtering_by_qids.json'>[global wikidata filtering]</a>
        &nbsp;
        <a href='https://www.twitter.com/statswiki'>@StatsWiki (X)</a>
        &nbsp;
        <a href='https://www.instagram.com/statswiki'>@StatsWiki (Insta)</a>        
    </footer>

</body>
</html>
